body {
  text-align: center;
}

.container {
  margin-top: 50px;
  margin-left: 13%;
  margin-right: 10%;
}

.copy-and-results {
  display: flex;
  align-items: center;
}

.result-container {
  flex: 7;
  text-align: left;
}

.copy-container {
  flex: 3;
  text-align: left;
  display: none;
}

.copy-container p {
  text-align: center;
}

.copyStatus {
  margin-top: 10%;
  color: green;
}

.copy-button {
  /* Add styles for the copy button here */
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  /* Adjust the padding values to increase or decrease the button size */
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 36px;
  /* Adjust the font-size to change the text size */
}

.copy-button:hover {
  background-color: rgba(128, 128, 128, 0.192);
}

.copy-button .fa-copy {
  /* Add styles for the copy icon here */
  margin-right: 5px;
  color: #0056b3;
}

.copy-button .fa-copy:hover {
  /* Add styles for the copy icon here */
  margin-right: 5px;
  color: #42b300;
}



h1 {
  font-size: 60px;
  margin-bottom: 30px;
  font-weight: bolder;
}

.form-horizontal {
  margin-bottom: 30px;
}

label {
  font-size: 18px;
}

input {
  text-align: center;
  width: 100px;
}

h2 {
  margin-top: 30px;
  font-size: 24px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}


#digitError {
  text-align: center;
  font-size: 48px;
  font-weight: bolder;
  color: red;
  margin-right: 10%;
}

#selected-year,
#monthlyIncome,
#monthlyTax,
#salaryAfterTax,
#yearlyIncome,
#yearlyTax,
#yearlyIncomeAfterTax {
  font-weight: bold;
}

#selected-year{
  color: blue;
}




/* Responsive Styles */

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  label {
    font-size: 16px;
  }

  input {
    width: 80px;
  }

  h2 {
    margin-top: 20px;
    font-size: 20px;
  }

  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  label {
    font-size: 10px;
  }

  input {
    width: 60px;
  }

  h2 {
    margin-top: 10px;
    font-size: 18px;
  }

  p {
    font-size: 10px;
    margin-bottom: 3px;
  }
}